:root {
  --branding-color: #d8918b;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #f9f7fe;
}
body {
  font-family: var(--default-font-family);
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h2 {
  font-size: 62px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}
.content-container {
  padding: 160px 20px;
}
.content-container h1 {
  font-size: 64px;
  line-height: 85px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content {
  margin: 30px;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  line-height: 1.5;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-size: 24px;
  line-height: 2;
  color: #272142;
  font-weight: normal;
}
.btn-branding {
  background: var(--branding-color);
  color: black;
  border-radius: 4;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
btn {
  display: inline-block;
  font-weight: 400;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.btn-branding-outline {
  color: black;
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }
  .btn-branding-outline {
    margin-bottom: 30px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .content-container h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  li {
    padding: 17px;
  }
  nav a {
    font-size: 12px;
  }
}
.my-picture {
  width: 603px;
  border-radius: 6px;
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  line-height: 1.5;
}
.content p {
  font-size: 14px;
}
.logo {
  max-height: 100px;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav {
  padding: 20px, 0;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li .active a {
  color: var(--branding-color);
}
